<h1>{{title}}</h1>
<p>{{desc}}</p>
<form method="post">
    <h1>Pricing plans</h1>
    <div class="form-group">
        <label for="email">email</label>
        <input class="form-control" id="email" name="email" type="text">
    </div>
    <input value="$1/month to Subscribe!" type="submit">
</form>
